* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  color: #000;
  background-color: rgb(255, 235, 140);
}

.intro {
  display: flex;
}

.intro main {
  margin: 0 0 0 10px;
}

.intro h1 {
  font-size: 24px;
  margin: 0 0 5px 0;
  padding: 0;
}

.intro h2 {
  font-size: 16px;
  margin: 0 0 15px 0;
}

.intro a {
  font-size: 16px;
  font-weight: normal;
  color: #000;
}
