<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }}{% if page.collection_title %} {{ page.collection_title }}{% endif %}{% if page.title %}: {{ page.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Stimulus is a JavaScript framework with modest ambitions. It doesn't seek to take over your entire front-end—in fact, it's not concerned with rendering HTML at all. Instead, it's designed to augment your HTML with just enough behavior to make it shine.">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://use.typekit.net/ted5yzm.css">
  <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>

</head>
