---
title: A modest JavaScript framework for the HTML you already have.
description: >-
  Stimulus is a JavaScript framework with modest ambitions.
  It doesn’t seek to take over your entire front-end—in fact, it’s not concerned with rendering HTML at all.
  Instead, it’s designed to augment your HTML with just enough behavior to make it shine.
layout: default
---

<div class="landing-intro grid">
  <h1 class="landing-intro__text grid__item grid__item--start-2 grid__item--span-10">
    A modest JavaScript framework for the HTML you already have.
  </h1>
</div>

<div class="landing-hero grid__item grid__item--span-12">

  <div class="landing-hero__step landing-hero__step--pointer">
    <p class="landing-hero__step-title">Sprinkle your HTML with controller, target, and action attributes:</p>
    {% highlight "html" %}
    {% include "./_assets/js/controllers/hello_example.html" %}
    {% endhighlight %}
  </div>

  <div class="landing-hero__step">
    <p class="landing-hero__step-title">Write a compatible controller and watch Stimulus bring it to life:</p>
    {% highlight "js" %}
    {% include "hello.html" %}
    {% endhighlight %}
  </div>

</div>

<div class="landing-hello" data-controller="hello">
  <label class="landing-hello__label" for="hello">enter a name</label>
  <input id="hello" class="landing-hello__input" data-hello-target="name" type="text" placeholder="enter a name">
  <button class="landing-hello__button" data-action="click->hello#greet">Greet</button>
  <span class="landing-hello__output" data-hello-target="output"></span>
</div>

<p class="landing-version">
  <span>Current version: <a href="{{ release.url }}">{{ release.tag_name }}</a> &mdash; released {{ release.created_at | fullDate }}</span>
</p>

<p class="landing-summary"><string>Stimulus</strong> is a JavaScript framework with modest ambitions. It doesn’t seek to take over your entire front-end—in fact, it’s not concerned with rendering HTML at all. Instead, it’s designed to augment your HTML with just enough behavior to make it shine. Stimulus pairs beautifully with <a href="https://turbo.hotwired.dev">Turbo</a> to provide a complete solution for fast, compelling applications with a minimal amount of effort.</p>

<div class="landing-actions">
  <a class="landing-actions__item" href="/handbook/introduction">
    <div class="landing-actions__icon landing-actions__icon--guide" aria-hidden="true"></div>
    Handbook
  </a>

  <a class="landing-actions__item" href="/handbook/installing">
    <div class="landing-actions__icon landing-actions__icon--install" aria-hidden="true"></div>
    Installation
  </a>

  <a class="landing-actions__item" href="{{ site.github_url }}">
    <div class="landing-actions__icon landing-actions__icon--github" aria-hidden="true"></div>
    Source
  </a>
</div>
