// handbook layout ////////////////////////////////////////////////////////////

.handbook {
  margin: 0 auto;
  padding: 0 2em;
  overflow-x: hidden;
  
  @include media(large) {
    max-width: 90em;

    @supports (display: grid) {
      max-width: 100%;
      padding: 0;
      display: grid;
      grid-template-columns: 0.5fr 2.5fr 55vw 1fr;
    }
  }
}

.handbook__content {
  grid-column: 3/4;
  max-width: $column-width;
  margin: 0 auto;

  @include media(large) {
    max-width: 100%;
    margin-top: 6em;
    padding-left: 2em;
  }

  h1, h2, h3, h4, h5, h6 {
    text-align: left;
  }

  h1 {
    margin-top: 0;
  }
}


// handbook nav /////////////////////////////////////////////////////////////////////

.handbook__nav {
  max-width: $column-width;
  grid-column: 2/3;
  margin: 0 auto 2em auto;
  padding: 0.5em 0;
  text-align: center;

  @include media(large) {
    margin: 0 0 2em 0;
    padding-top: 7em;
  }
}

.handbook__nav-title {
  margin: 0;
  font-family: $sans-stack;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
  border-bottom: 0.25em solid $color-accent;

  @include media(large) {
    text-align: left;
  }
}

.handbook-nav__link {
  display: block;
  line-height: 1.5;
  font-family: $sans-stack;
  font-style: italic;

  @include media(large) {
    text-align: left;
    padding: 0.5em 0.5em;
    margin-right: 0;
  }

  &.active {
    background-color: $color-tint;
    -webkit-clip-path: polygon(4% 0%, 100% 0%, 96% 100%, 0% 100%);
    clip-path: polygon(4% 0%, 100% 0%, 96% 100%, 0% 100%);

    @include media(large) {
      -webkit-clip-path: polygon(0% 0%, 100% 0%, 96% 100%, 0% 100%);
      clip-path: polygon(0% 0%, 100% 0%, 96% 100%, 0% 100%);
    }
  }
}

// incomplete chapter warning /////////////////////////////////////////////////

.warning {
  grid-column: 2/5;
  background-color: #fff200;
  margin: 1em 0 2em 0;
  padding: 0.5em;
  text-align: center;
  -webkit-clip-path: polygon(4% 0%, 100% 0%, 96% 100%, 0% 100%);
  clip-path: polygon(4% 0%, 100% 0%, 96% 100%, 0% 100%);
}

.warning__title {
  margin: 0;
  padding: 0;
  text-align: center !important;
}

.warning__message {
  margin: 0;
  padding: 0;
  font-family: $sans-stack;
}
