// handbook layout ////////////////////////////////////////////////////////////

.handbook {
  margin: 0 auto;
  padding: 0 2em;

  @include media(medium) {
    max-width: 90em;

    @supports (display: grid) {
      max-width: 100%;
      padding: 0;
      display: grid;
      grid-template-columns: 0.25fr 2.5fr 0.5fr 65vw 0.25fr;
    }
  }

  @include media(large) {
    grid-template-columns: 0.5fr 2.5fr 0.5fr 60vw 1fr;
  }
}

.handbook__content {
  grid-column: 4/5;
  max-width: $column-width;
  margin: 0 auto;

  @include media(medium) {
    max-width: 100%;
    margin-top: 6em;
  }

  h1, h2, h3, h4, h5, h6 {
    text-align: left;
  }

  h1 {
    margin-top: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.handbook__screenshot {
  border: 1px solid transparentize($color-accent, 0.6);
  border-radius: 5px;
  box-shadow: 2px 2px 22px transparentize($color-accent, 0.6);
}


// handbook nav /////////////////////////////////////////////////////////////////////

.handbook__index {
  max-width: $column-width;
  grid-column: 2/3;
  margin: 0 auto 2em auto;
  padding: 0.5em 0;
  text-align: center;

  @include media(medium) {
    margin: 0 0 2em 0;
    padding-top: 7em;
  }
}

.handbook__nav {
  position: -webkit-sticky;
  position: sticky;
  top: 1em;
}

.handbook__nav-title {
  margin: 0 0 1em 0;
  font-family: $sans-stack;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
  border-bottom: 0.25em solid $color-accent;

  @include media(medium) {
    text-align: left;
  }
}

.handbook-nav__link {
  display: block;
  line-height: 1.5;
  font-family: $sans-stack;
  font-style: italic;

  @include media(medium) {
    text-align: left;
    padding: 0.5em 0.5em;
    margin-right: 0;
  }

  &.active {
    background-color: $color-tint;
    -webkit-clip-path: polygon(4% 0%, 100% 0%, 96% 100%, 0% 100%);
    clip-path: polygon(4% 0%, 100% 0%, 96% 100%, 0% 100%);

    @include media(large) {
      -webkit-clip-path: polygon(0% 0%, 100% 0%, 96% 100%, 0% 100%);
      clip-path: polygon(0% 0%, 100% 0%, 96% 100%, 0% 100%);
    }
  }
}
