// intro //////////////////////////////////////////////////////////////////////

.intro {
  grid-column: 1/6;
  margin: 0 -2em;
  padding: 2em 1em;
  border-top: 0.25em solid $color-accent;
  
  @include media(large) {
    margin: 0;
    padding: 2em 7em 8.5em 7em;
    background-color: $color-tint;
  }
}

.intro__text {
  margin: 0.5em 0 0 0;
  text-align: center;
  color: $color-text;
}

// hero code example //////////////////////////////////////////////////////////

.hero {
  grid-column: 2/5;
  position: relative;
  margin: 1em 0 2em 0;
  padding: 0;

  @include media(large) {
    display: flex;
    justify-content: space-between;
    margin-top: -6em;

    &:before {
      content: "";
      display: block;
      position: absolute; 
      width: 130%;
      height: 130%;
      z-index: -1;
      top: -32%;
      left: -11%;
      background: url("../images/pattern.svg") no-repeat center;
      background-size: 100%;
    }
  }
}

.hero__step {
  position: relative;
  width: 100%;
  margin-bottom: 2em;
  background-color: $color-tint;
  border: 0.25em solid #fff;
  box-shadow: 1px 10px 20px $color-accent;

  @include media(large) {
    width: 48%;
    margin: 0;
  }

  pre {
    padding: 1.5em;
    overflow: auto;

    @include media(large) {
      font-size: 0.875em;
      font-size: 1.15vw;
    }
  }
}

.hero__step--pointer {

  &:before {
    content: "";
    position: absolute; 
    display: block;
    width: 3.5em;
    height: 3.5em;
    top: 93%;
    right: 40%;
    z-index: 1;
    background: url("../images/arrow.svg") no-repeat center;
    background-size: 100%;
    transform: rotate(110deg);
  }

  @include media(large) {
    
    &:before {
      width: 3.5em;
      height: 3.5em;
      top: 30%;
      right: -3.25em;
      transform: rotate(10deg);
    }
  }
}

.hero__step-title {
  margin: 0 0 0.25em 0;
  padding: 1em;
  font-family: $sans-stack;
  font-size: 1.125em;
  font-weight: bold;
  text-align: center;
  color: $color-background;
  background-color: $color-text;

  @include media(large) {
    padding: 1em 2em;
    font-size: 1.5vw;
  }
}

// hero code output ///////////////////////////////////////////////////////////

.hello {
  position: relative;
  grid-column: 3/4;
  margin-bottom: 2em;
  padding: 1em;
  background-color: $color-tint;
  border: 0.25em solid #fff;
  box-shadow: 1px 10px 20px $color-accent;

  @include media(large) {
    display: flex;
    align-items: center;
  }

  &:before {
    content: "";
    position: absolute; 
    display: block;
    width: 3.5em;
    height: 3.5em;
    top: -30%;
    right: 40%;
    z-index: 1;
    background: url("../images/arrow.svg") no-repeat center;
    background-size: 100%;
    transform: rotate(110deg);

    @include media(large) {
      top: -60%;
      right: 35%;
      transform: rotate(130deg);
    }
  }
}

.hello__input {
  display: block;
  margin: 0;
  padding: 0.65em 0.6em;
  width: 100%;
  border: 2px solid $color-accent;
  font-family: $sans-stack;
  font-size: 1em;

  @include media(large) {
    width: 46%;
  }

  &:focus {
    outline: none;
    border-color: $color-accent !important;
  }
}

.hello__button {
  display: block;
  width: 100%;
  padding: 0.78em 1em;
  background-color: $color-accent;
  color: $color-text;
  font-family: $sans-stack;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  line-height: normal;
  -webkit-appearance: none;
  border: none;
  outline: none;

  @include media(large) {
    width: auto;
  }
}

.hello__output {
  display: block;
  width: 100%;
  margin: 1em 0 0 0;
  padding: 1.1em 0.25em;
  font-size: 1.25em;
  line-height: 0;
  color: $color-text;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 0.1em solid $color-text;

  @include media(large) {
    margin: 0 0 0 0.5em;
    width: 50%;
  }
}

// intro text /////////////////////////////////////////////////////////////////

.lede {
  text-align: justify;

  @include media(large) {
    font-size: 1.25em;
  }
}

// primary actions ////////////////////////////////////////////////////////////

.actions {
  grid-column: 3/4;
  margin: 0;

  @include media(large) {
    display: flex;
    justify-content: space-between;
  }
}

.actions__item {
  display: block;
  margin-bottom: 1em;
  padding: 1em;
  text-align: center;
  background-color: $color-tint;

  @include media(large) {
    width: 32%;
    margin-bottom: 0;
  }
}

.actions__icon {
  display: block;
  max-width: 4em;
  margin: 0 auto 1em auto;
}