// main content ///////////////////////////////////////////////////////////////

.content {
  margin: 0 auto;
  padding: 0 2em;
  overflow-x: hidden;
  
  @include media(large) {

    @supports (display: grid) {
      max-width: 100%;
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
    }
  }
}

// top nav ////////////////////////////////////////////////////////////////////

.nav {
  grid-column: 1/6;
  padding-bottom: 1em;
  text-align: center;
  background-size: 1em;

  @include media(large) {
    display: flex;
    justify-content: space-between;
    padding: 1.25em 2em 1em 2em;
  }
}

.nav__logo {
  display: block;
  max-width: 25rem;
  margin: 1em auto;
  padding: 0;
  text-transform: uppercase;
  font-family: $sans-stack;
  font-size: 1.5em;

  @include media(large) {
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
}

.nav__icon {
  max-width: 1.5em;
  display: block;
  margin: 0 auto 0.25em auto;

  @include media(large) {
    position: relative;
    top: -0.075em;
    margin: 0;
    padding-right: 0.25em;
  }
}

.nav__title {
  margin: 0;
}

.nav__subhead {
  margin: 1em 0 2em 0;
  font-size: 0.9rem;
  font-family: $sans-stack;
}

.nav__links {
  padding: 0 0.25em;
  margin: 0 auto;
  line-height: 1.5;
  font-weight: bold;

  @include media(large) {
    margin: 0;
    line-height: 1;
  }
}

.nav__links-item {
  display: inline-block;
  font-family: $sans-stack;
  font-weight: bold;
  text-transform: none;
  font-size: 1rem;
  
}

// footer /////////////////////////////////////////////////////////////////////

.foot {
  grid-column: 3/4;
  margin-top: 10em;
  text-align: center;
  font-size: 0.875em;
}

.foot__icon {
  display: block;
  max-width: 50px;
  margin: 0 auto;
}
