// default page layout ////////////////////////////////////////////////////////

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em 1em;
}

.page-footer {
  position: relative;
  margin: 6em 0 0 0;
  padding: 3em 0;
  text-align: center;

  @include media(medium) {

    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: url('/images/pattern.svg') right -15em top 5em / 80% auto no-repeat;
    }
  }
}
