{% capture section_pages %}collections.{{ include.section }}{% endcapture %}

<ul class="nav__sublist {% if page.data.section == include.section %} active{% endif %}">
  {%- for section_page in section_pages -%}
    {%- if page.url == section_page.url -%}
      {%- assign is_active = true -%}
      {%- assign next_section_page = section_pages | getNextCollectionItem: page -%}
    {%- endif -%}
    <li>
      <a class="nav__sublist-link{% if is_active %} active{% endif %}" href="{{ section_page.url }}">
        {%- if section_page.nav_prefix %}{{ section_page.nav_prefix }}: {% endif %}{{ section_page.title }}
      </a>
    </li>
  {%- endfor -%}
</ul>
