{% include head.html %}

<body class="{% if page.class %} {{ page.class }}{% endif %}">

  {% include navigation.html %}

  <main id="content" class="handbook">

    <nav class="handbook__nav">
      <p class="handbook__nav-title">The Handbook:</p>
      <a name="start"></a>
      {% for item in site.handbook %}
        <a class="handbook-nav__link{% if page.url == item.url %} active{% endif %}" href="{{ item.url }}">
          {{ forloop.index }}: {{ item.title }}
        </a>
      {% endfor %}
    </nav>

    <section class="handbook__content">
    {{ content }}
    </section>

  </main>

  {% include footer.html %}

</body>
</html>
