{% include head.html %}
<body class="{% if page.class %} {{ page.class }}{% endif %}">
  {% include navigation.html %}

  <main id="content" class="handbook">
    <section class="handbook__index">

      <input type="checkbox" id="hamburger" class="handbook__checkbox"/>
      <label class="handbook__mobile-button" for="hamburger"><span></span> Table of Contents</label>

      <nav class="handbook__nav">
        <label class="handbook__mobile-button handbook__mobile-button--close" for="hamburger"><span></span> close</label>

        {%- assign section_pages = site.pages | where: "section",page.section | sort: "order" -%}
        <ul class="handbook__nav-list">
          {%- for section_page in section_pages -%}
            {%- assign is_active = false -%}
            {%- if page.url == section_page.url -%}
              {%- assign is_active = true -%}
              {%- assign next_section_page = section_pages[forloop.index] -%}
            {%- endif -%}
            <li>
              <a class="handbook__nav-link{% if is_active %} active{% endif %}" href="{{ section_page.url }}">
                {%- assign prefix = section_page.nav_prefix -%}
                {%- unless prefix -%}
                  {%- assign index = section_page.path | split: "/" | reverse | first | abs -%}
                  {%- if index > 0 -%}
                    {%- assign prefix = forloop.index0 -%}
                  {%- endif -%}
                {%- endunless -%}
                {%- if prefix %}{{ prefix }}: {% endif %}{{ section_page.title }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </nav>
    </section>

    <section id="start" class="handbook__content" data-controller="anchor" data-anchor-selector="h2,h3,h4">
      {{ content }}

      {% if next_section_page %}
        <p>Next: <a href="{{ next_section_page.url }}">{{ next_section_page.title }}</a></p>
      {% endif %}
    </section>
  </main>

  {% include footer.html %}
</body>
</html>
